MOCK_MODE=false
PORT=4000
DATABASE_URL=postgresql://postgres.sfqnuvdrezxedkjrkdnh:3gq3Bv_YQ%2BYH%21E5@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=no-verify

TEMP_THRESHOLD=35
HUMIDITY_THRESHOLD=80
LIGHT_THRESHOLD_LOW=100

AIO_USERNAME=
AIO_KEY=
